//TableManageUser
#TableManageUser {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
}

#TableManageUser td,
#TableManageUser th {
      border: 1px solid #ddd;
      padding: 8px;
}

#TableManageUser tr:hover {
      background-color: #ddd;
}

#TableManageUser th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04aa6d;
      color: white;
}

.btn-edit {
      width: 30px;
      border: none;
      outline: none;
      background: transparent;
      color: orange;
      margin-right: 5px;

      &:hover {
            background-color: transparent !important;
            color: orange !important;

      }
}

.btn-delete {
      width: 30px;
      border: none;
      outline: none;
      background: transparent;
      color: red;

      &:hover {
            background-color: transparent !important;
            color: red !important;

      }
}