* {
  margin: 0;
  padding: 0;
}

.container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
